@tailwind base;
@tailwind components;
@tailwind utilities;

.dots1 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 40%;
  transition: background-color 0.3s ease;
}

.dots2 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 45%;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.dots3 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

