@tailwind base;
@tailwind components;
@tailwind utilities;

.dots1 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: 45%;
}

.dots2 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.dots3 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: 55%;
}

